nav {
    -webkit-box-shadow: none;
      -moz-box-shadow: none;
    box-shadow: none;
    margin-bottom: 50px;
  }
  
  .input-field {
    font-family: 'Lato', sans-serif;
  }
  
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #808080;
    opacity: 1; /* Firefox */
    font-family: 'Lato', sans-serif;
  }
  
  input {
    font-family: 'Lato', sans-serif;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    z-index: 10;
  }
  
  .example-full-width {
    width: 100%;
    z-index: 10;
  
  }
  
  .post-container-dropdown {
    position: absolute;
    z-index: 1;
    width: 252px;
    height: 200px;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #e2dfdf;
    margin-top: -10px;
    border-top: 0;
  }
  
  .post {
    padding-left: 5px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
  
  }
  
  .post:hover {
    background:  #e2dfdf;
  }
  
  .searchBox {
    width: 250px;
  }
  
  .hover-item:hover {
    background-color: white;
    font-size: 18px;
  }
  
  .search-field {
    margin-right: 30px;
  }
  
  
  .brand-logo {
    font-size: 35px;
    font-family: 'Lato', sans-serif;
  }
  
  .navbar-items {
    font-family: 'Lato', sans-serif;
  }
  
  li {
    color: black !important; 
  } 
  
  a {
    color: black !important;
  }
  
  #style-4::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset #e2e2e2;
      background-color: #F5F5F5;
  }
  
  #style-4::-webkit-scrollbar
  {
      width: 4px;
      background-color: #F5F5F5;
  }
  
  #style-4::-webkit-scrollbar-thumb
  {
    background-color: #e2e2e2;
  }
  
  